<div class="jumbotron text-center">
  <h1>AR Car Manager</h1>
  <p class="lead">Welcome to the AR Car Authentication application.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a><a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>


</div>

<div class="row">
  <div class="col-md-4">
    <h3>Heading Here</h3>
    <p>Paragraph text here</p>
  </div>
  <div class="col-md-4">
      <h3>Heading Here</h3>
      <p>Paragraph text here</p>
    </div>
    <div class="col-md-4">
        <h3>Heading Here</h3>
        <p>Paragraph text here</p>
      </div>
</div>