<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard.</p>
<div>
    <div class="row">
      <div class="col-md-4">
        <h2>Manage User Accounts</h2>
        <p>Create and remove user accounts.</p>
        <p><a class="btn btn-default" href="http://localhost:4200/register" role="button">Manage</a></p>
      </div>
      <div class="col-md-4">
        <h2>Manage Unity Assets</h2>
        <p>Upload new game bundles.</p>
        <p><a class="btn btn-default" href="http://localhost:4200/assets" role="button">Manage</a></p>
     </div>
      
</div>